<%- include("partials/head")%>
<body>
    <%- include("partials/Navbar")%>
    <h1>Home Page</h1>

    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur quo ratione officia enim, error doloremque laborum, illum hic ipsa quidem aliquid nobis totam animi impedit omnis voluptate. Itaque, veniam iste.</p>

    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo vero repellendus accusamus expedita ipsum aliquid quaerat. Et dicta placeat mollitia molestiae, dolore assumenda exercitationem ducimus, similique, voluptate aliquam a ratione.</p>

</body>
</html>